@model FileReader

@{
    var data = Model.GetMonthProjectTime();
}

<!DOCTYPE html>

<html lang="">
<head>
    <title>Monthly Report</title>
</head>
<body>
<div>
    <table class="greyGridTable">
        <thead>
        <tr>
            <td style="text-align:left">Project code</td>
            <td style="text-align:left">Dedicated project time</td>
        </tr>
        </thead>

        <tbody>
        @foreach (var item in data)
        {
            <tr>
                <td style="text-align:left">@item.Key</td>
                <td style="text-align:left"><strong>@(@item.Value / 60) h @(@item.Value % 60) min</strong></td>
            </tr>
        }
        </tbody>

    </table>


</div>
</body>
</html>